<%= render 'tweets/form' %>

<div class="container">
  <% unless params[:id].nil? %>
    <ul class="list-group">
      <h3>Last tweets of <%= @user.name %> (@<%= @user.screen_name %>)</h3>
        <% @tweets.each do |tweet| %>
        <li class="list-group-item">
          <%= tweet.full_text %>
        </li>
        <% end %>
    </ul>
  <% end %>
</div>